/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom  .navbar {
  position: relative;
  }
.carousel-control {
 
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  background-color: transparent;
  border: 0;
  z-index: 10;
  }
  
  .myDiv {
  position: relative;
  
  overflow: hidden;
  }
  
  img{
   width: 100%;
   height: auto;
  overflow: hidden;
}